body{
    background-image: url("Image/COfee.png");
    font-family: sans-serif
}
  .container{
    width: 40%;
    height: 770px;
    background-color: burlywood;
    margin: auto;
  }
  h1,h2{
  text-align: center;
  font-family: Impact ,serif;
  font-weight: 1000;
  }
  .center p{
  text-align: center;
  }
 .border{
    width: 93%;
    height: 5px;
    background-color: brown;
    margin: auto;
 }
img{
    margin-left: 45%;
}
.p{
    margin: auto;
    width: 95%;
   display: flex;
   flex-direction: row;
   gap: 65%;
   flex: 2;
}
.number1 p{
    margin-left: 90px;
}
.number p{
    margin-left: 60px;
}
a{
    margin-left: 40%;
    color: black; 
}
.end p{
    text-align: center;
}
